In [1]:
import numpy as np
import os
import pandas as pd

In [2]:
# import data
file_path = 'C:/Users/seanj/Documents/GitHub/business_trends/data/business-licences.csv'
biz_origin = pd.read_csv(file_path, sep=';', low_memory=False)

# set to display all col
pd.set_option('display.max_columns', None)

In [3]:
biz_origin.head()

,FOLDERYEAR,LicenceRSN,LicenceNumber,LicenceRevisionNumber,BusinessName,BusinessTradeName,Status,IssuedDate,ExpiredDate,BusinessType,BusinessSubType,Unit,UnitType,House,Street,City,Province,Country,PostalCode,LocalArea,NumberofEmployees,FeePaid,ExtractDate,Geom,geo_point_2d
0,15,2333487,15-103789,0,Tech Ventures Ltd,NaN,Issued,2015-03-16T11:02:08-07:00,2015-12-31,Apartment House Strata,NaN,605,Unit,1500,HOWE ST,Vancouver,BC,CA,V6Z 2N1,Downtown,0.0,64.0,2019-07-21T13:49:14-07:00,"{""coordinates"": [-123.132003087572, 49.2741705...","49.2741705397492, -123.132003087572"
1,15,2333489,15-103791,0,Chup H Fung & Lily W Fung,NaN,Issued,2014-11-06T12:43:28-08:00,2015-12-31,Apartment House Strata,NaN,NaN,NaN,3450,NAIRN AV,Vancouver,BC,CA,V5S 4B5,Killarney,0.0,64.0,2019-07-21T13:49:14-07:00,"{""coordinates"": [-123.029020213594, 49.2156668...","49.2156668051544, -123.029020213594"
2,15,2333490,15-103792,0,Cho Pui Cheung & Wai Ying Kwong,NaN,Issued,2014-12-22T12:07:44-08:00,2015-12-31,Apartment House Strata,NaN,802,Unit,1040,PACIFIC ST,Vancouver,BC,CA,V6E 4C1,West End,0.0,64.0,2019-07-21T13:49:14-07:00,"{""coordinates"": [-123.1337614345, 49.277365821...","49.277365821302, -123.1337614345"
3,15,2333491,15-103793,0,Cho Pui Cheung Wai Ying Kwong Nelson Cheung & ...,NaN,Issued,2014-12-22T12:15:07-08:00,2015-12-31,Apartment House Strata,NaN,517,Unit,1040,PACIFIC ST,Vancouver,BC,CA,V6E 4C1,West End,0.0,64.0,2019-07-21T13:49:14-07:00,"{""coordinates"": [-123.1337614345, 49.277365821...","49.277365821302, -123.1337614345"
4,15,2333492,15-103794,0,Joseph Kam Hung Yeung (Jospeh Yeung),NaN,Issued,2014-11-04T13:58:33-08:00,2015-12-31,Apartment House Strata,NaN,903,Unit,717,JERVIS ST,Vancouver,BC,CA,V6E 4L5,West End,0.0,64.0,2019-07-21T13:49:14-07:00,"{""coordinates"": [-123.128230314012, 49.2878720...","49.2878720003484, -123.128230314012"

In [4]:
biz_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712155 entries, 0 to 712154
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   FOLDERYEAR             712155 non-null  int64
 1   LicenceRSN             712155 non-null  int64
 2   LicenceNumber          712155 non-null  object
 3   LicenceRevisionNumber  712155 non-null  int64
 4   BusinessName           683685 non-null  object
 5   BusinessTradeName      283997 non-null  object
 6   Status                 712155 non-null  object
 7   IssuedDate             591594 non-null  object
 8   ExpiredDate            591288 non-null  object
 9   BusinessType           712155 non-null  object
 10  BusinessSubType        381377 non-null  object
 11  Unit                   181570 non-null  object
 12  UnitType               181321 non-null  object
 13  House                  387328 non-null  object
 14  Street                 387354 non-null  object
 15  City                   711190 non-null  object
 16  Province               711026 non-null  object
 17  Country                679674 non-null  object
 18  PostalCode             382359 non-null  object
 19  LocalArea              628321 non-null  object
 20  NumberofEmployees      712155 non-null  float64
 21  FeePaid                598682 non-null  float64
 22  ExtractDate            712155 non-null  object
 23  Geom                   373402 non-null  object
 24  geo_point_2d           373402 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 135.8+ MB

In [5]:
biz_origin.describe(exclude=np.number).T

,count,unique,top,freq
LicenceNumber,712155,693319,18-476659,5
BusinessName,683685,111428,Imperial Parking Canada Corporation,1173
BusinessTradeName,283997,46528,Fasken Martineau DuMoulin LLP,872
Status,712155,6,Issued,562933
IssuedDate,591594,498805,2018-12-20T11:20:07-08:00,71
ExpiredDate,591288,1595,2019-12-31,57868
BusinessType,712155,183,Office,111040
BusinessSubType,381377,357,Other,51604
Unit,181570,2572,300,5566
UnitType,181321,42,Unit,174875
House,387328,5829,1055,5301
Street,387354,1871,W BROADWAY,23157
City,711190,558,Vancouver,633954
Province,711026,82,BC,707370
Country,679674,1,CA,679674
PostalCode,382359,7344,V5Z 4C2,2019
LocalArea,628321,22,Downtown,157655
ExtractDate,712155,71,2024-04-01T02:37:27-07:00,18312
Geom,373402,10458,"{""coordinates"": [-123.119500778402, 49.2822434...",2374
geo_point_2d,373402,10458,"49.2822434350563, -123.119500778402",2374

In [6]:
# filter for only relevant columns
biz = biz_origin.filter(['LicenceRSN','Status','IssuedDate','BusinessType','BusinessSubType','PostalCode','LocalArea','geo_point_2d'])

biz.head()

,LicenceRSN,Status,IssuedDate,BusinessType,BusinessSubType,PostalCode,LocalArea,geo_point_2d
0,2333487,Issued,2015-03-16T11:02:08-07:00,Apartment House Strata,NaN,V6Z 2N1,Downtown,"49.2741705397492, -123.132003087572"
1,2333489,Issued,2014-11-06T12:43:28-08:00,Apartment House Strata,NaN,V5S 4B5,Killarney,"49.2156668051544, -123.029020213594"
2,2333490,Issued,2014-12-22T12:07:44-08:00,Apartment House Strata,NaN,V6E 4C1,West End,"49.277365821302, -123.1337614345"
3,2333491,Issued,2014-12-22T12:15:07-08:00,Apartment House Strata,NaN,V6E 4C1,West End,"49.277365821302, -123.1337614345"
4,2333492,Issued,2014-11-04T13:58:33-08:00,Apartment House Strata,NaN,V6E 4L5,West End,"49.2878720003484, -123.128230314012"

In [7]:
# update BusinessSubType for businesses that don't require one
biz.update(biz[['BusinessSubType']].fillna('N/A'))

In [8]:
# rename col name
biz = biz.rename(columns={'geo_point_2d':'Coordinates'})

In [9]:
# change data type to str
biz['LicenceRSN'] = biz['LicenceRSN'].astype(str)

In [10]:
# extract year, month from IssuedDate
biz['Year'] = biz['IssuedDate'].str[:4]
biz['Month'] = biz['IssuedDate'].str[5:7]

In [11]:
# drop IssuedDate
biz = biz.drop(columns=['IssuedDate'])

# reindex col order
col_order = ['LicenceRSN','Status','Year','Month','BusinessType','BusinessSubType','PostalCode','LocalArea','Coordinates']

biz = biz.reindex(columns=col_order)

In [12]:
biz.head()

,LicenceRSN,Status,Year,Month,BusinessType,BusinessSubType,PostalCode,LocalArea,Coordinates
0,2333487,Issued,2015,03,Apartment House Strata,N/A,V6Z 2N1,Downtown,"49.2741705397492, -123.132003087572"
1,2333489,Issued,2014,11,Apartment House Strata,N/A,V5S 4B5,Killarney,"49.2156668051544, -123.029020213594"
2,2333490,Issued,2014,12,Apartment House Strata,N/A,V6E 4C1,West End,"49.277365821302, -123.1337614345"
3,2333491,Issued,2014,12,Apartment House Strata,N/A,V6E 4C1,West End,"49.277365821302, -123.1337614345"
4,2333492,Issued,2014,11,Apartment House Strata,N/A,V6E 4L5,West End,"49.2878720003484, -123.128230314012"

In [14]:
# export as csv
biz.to_csv('clean_biz.csv',index=False)

In [15]:
biz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712155 entries, 0 to 712154
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   LicenceRSN       712155 non-null  object
 1   Status           712155 non-null  object
 2   Year             591594 non-null  object
 3   Month            591594 non-null  object
 4   BusinessType     712155 non-null  object
 5   BusinessSubType  712155 non-null  object
 6   PostalCode       382359 non-null  object
 7   LocalArea        628321 non-null  object
 8   Coordinates      373402 non-null  object
dtypes: object(9)
memory usage: 48.9+ MB